# XGBoost 

XGBoost is an implementation of gradient boosted decision trees. XGBoost has become one of the most loving tool for Kagglers in competitive machine learning.

Here let's do predictions on diabetes dataset with XGBoost. Pima Indians diabetes database is used for this here. Link:https://www.kaggle.com/uciml/pima-indians-diabetes-database

## Import libraries

In [5]:
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

## Read data

In [20]:
data = pd.read_csv('diabetes.csv')

# display the head
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [28]:
data.shape

(767, 9)

#### The following are the columns of the dataset


1) BloodPressureDiastolic blood pressure (mm Hg)

2) SkinThicknessTriceps skin fold thickness (mm)

3) Insulin2-Hour serum insulin (mu U/ml)

4) BMIBody mass index (weight in kg/(height in m)^2)

5) DiabetesPedigreeFunctionDiabetes pedigree function

6) Age (years)

7) OutcomeClass variable (0 or 1)

#### Let's split the data 

Lets split the dataset to X and Y.

The last column has either 0 or 1.

0 suggests negative and 1 suggests positive for diabetes.

In [36]:
X = data.iloc[:,0:8]
Y = data.iloc[:,8]

#### Split the X dataset to train and test set

In [39]:
seed =1

X_train , X_test,Y_train, Y_test = train_test_split(X,Y,test_size=0.33 , random_state=seed)

In [40]:
X_train.head()

     6  148  72  35    0  33.6  0.627  50
717  1  108  60  46  178  35.5  0.415  24
274  2  100  70  52   57  40.5  0.677  25
724  4  112  78  40    0  39.4  0.236  38
699  2  122  76  27  200  35.9  0.483  26
116  5   78  48   0    0  33.7  0.654  25

## Train the XGBoost Model

We can use the <b> XGBClassifier </b> from XGBoost for classification.

In [42]:
model = XGBClassifier()
model.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [43]:
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

## Predicting with XGBoost Model

We can use the model.predict() function.

Output of predict() function is probabilities. We can round the values to 0 and 1 for the probability.

In [47]:
Y_pred = model.predict(X_test)
predictions = [round(value) for value in Y_pred]

Let us use the accuracy_score() function to evaluate the score for our model

In [50]:
accuracy = accuracy_score(Y_test,predictions)
accuracy

0.76771653543307083